@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    width: 100vw;
    height: 100vh;
    /* justify-content: center;
    align-items: center; */
    background-color: hsl(var(--hue), 100%, 20%);
    font-family: 'Lato', sans-serif;
}



.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #333;

}

#welcome-h1 {
    color: #fff;
    margin-bottom: 50px;
}

.form-group {
    margin: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;


}

#username {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16;

}

.start-button {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

}

.start-button:hover {
    background-color: #45a049;
}

.quiz-container {
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 30px auto;
    margin-bottom: 20px;
    /* Add marging-bottom to create space */
    margin-top: 20px;
    /* Add marging-bottom to create space */

}

.question-header h2 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #333;
    font-size: 16px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;


}


#next-btn {
    background: #fff;
    color: #333;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.true {
    background: yellow;

}

.false {
    background: red;

}

#score {
    color: gold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}